.chart-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        width: 100%;
        background: teal;
        text-align: center;
        height: 60px;
        padding: 15px;
        color: white;
        
    }
    form {
        
        margin: 20px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        label {
            margin: 4px;
        }
        input {
            margin-bottom: 10px;
            width: 250px;
            height: 30px;
            outline-color: teal;
            padding: 3px;
            border: none;
            border-bottom: 2px solid #ccc;
            outline: none;
            
            
        }
        :focus {
            border-bottom: 2px solid teal;
            outline: none;
            transition: 0.3s all ease-in-out;
        }
        button {
            width: 250px;
            height: 30px;
           background: teal;
           color: white;
           border: none;
           outline: none;
           border-radius: 5px;
           cursor: pointer;
        }
        button:hover {
            background: white;
            color: teal;
            border: 1px solid teal;
            transition: 0.3s all ease-in-out;
        }
        
        
    }
    
}

@media screen and (max-width: 800px) {
    .chart-container {
        .chart {
            width: 600px;
        }
    }
}

@media screen and (max-width: 550px) {
    .chart-container {
        .chart {
            width: 400px;
            height: auto;
        }
    }
}