* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Comfortaa', cursive;
  scroll-behavior: smooth;
}
html {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
}

@import './pages//home/HomePage.scss';
@import './pages/apiVisualization/ApiVisualization.scss';
@import './pages/copyToClipboard/CopyToClipboard.scss';
@import './pages/selfiePage/SelfiePage.scss';
@import './components/goBack/GoHome.scss';